/.buildpath
/.project
/.settings
/.idea
/bin
/build
/phpunit.xml
/tools
/vendor
/tests/regression/fixtures/phive-home/phars.xml
/tests/regression/fixtures/phive-home/phars
/tests/regression/fixtures/phive-home/http-cache
/tests/regression/under-test.phar
cache.properties
