/.idea
/build
!/build/phar/bootstrap.php.in
/phpunit.xml
/tools
/vendor
/tests/regression/fixtures/phive-home/phars.xml
/tests/regression/fixtures/phive-home/phars
/tests/regression/fixtures/phive-home/http-cache
/tests/regression/under-test.phar
cache.properties
/.php_cs.cache
.phpunit.result.cache
.php-cs-fixer.cache
.phive/auth.xml
